node_modules/
dist/
.cache/
*.log
npm-debug.log*

cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress/reports/

coverage/
.nyc_output/

.env
.env.*
!.env.example

.vscode/
.idea/

.DS_Store
Thumbs.db